<h1>ログイン成功</h1>
<%= notice %>
<p>
ログイン成功しました。
</p>
<p>
こんにちは、<%= User.find(session[:user_id]).account %>さんっ！
</p>

<%= link_to 'ログアウトする', session_path(session[:user_id]), :confirm => 'ログアウトしますか？', :method => :delete %>
