<h1>Member Page</h1>

<font color="green"><%= notice %></font>
</br></br>

<p>
ようこそ会員画面へ
</p>
<p>
こんにちは、<%= @current_user.account %>さんっ！
</p>
<%= button_to("ユーザー情報の編集", edit_user_path(session[:user_id])) %>
<%= button_to("ログアウト", session_path(session[:user_id]), {:method => :delete, :confirm => 'ログアウトしますか？'}) %>
